@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(232deg) brightness(109%) contrast(106%);

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(10%) saturate(1172%) hue-rotate(186deg) brightness(96%) contrast(91%);;

    --body-bg: #292e39;
    --header-bg-color: #171C28;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-seperate: #EDEDF6;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6911%) hue-rotate(8deg) brightness(112%) contrast(97%);

    // Side bar
    --sidebar-bg: #292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

    @include abstracts.breakpoint(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    };
}