@use "../abstracts";

html.dark {
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(232deg) brightness(109%) contrast(106%);

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(18%) sepia(10%) saturate(1172%) hue-rotate(186deg) brightness(96%) contrast(91%);;

    --body-bg: #292e39;
    --header-bg-color: #171C28;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;
    --top-act-group-bg-color: #292E39;
    --top-act-group-shadow: rgba(0, 0, 0, 0.20);
    --top-act-group-seperate: #EDEDF6;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6911%) hue-rotate(8deg) brightness(112%) contrast(97%);

    // Side bar
    --sidebar-bg: #292E39;
    --sidebar-shadow: rgba(23, 28, 40, 0.40);

    // Categories item
    --cate-item-bg: #171C28;
    --cate-item-thumb-bg: #292E39;
    --cate-item-title-color: #fff;

    // Buttons
    --filter-btn-color: #fff;
    --filter-btn-bg: #171C28;

    // Product card
    --product-card-bg: #171C28;
    --product-card-shadow: 0px 20px 60px 10px rgba(0, 0, 0, 0.20);

    // Filter Form
    --filter-form-bg: #292E39;
    --filter-form-shadow: 0px 40px 90px rgba(0, 0, 0, 0.40);
    --filter-form-tag-bg: #171C28;
    --filter-form-arrow: var(--dropdown-arrow-color);

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.20);
    };

    @include abstracts.screen(md) {
        --cate-item-bg: #000;
    }
}